body {
    background: linear-gradient(#B05520, #382DFC, #2F28B0)
}

section {
    background-color: rgb(255, 255, 255);
    max-width: 1200px;
    padding: 3%;
    
}

:root {
    --color-light: #B05520;
    --color-dark: #000000;
    
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-light);
    font-size: 1.25rem;
}
.nav {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.nav a {
    text-decoration: none;
}
.nav-item {
    padding-right: 1rem;
}
.nav-item:first-child {
    padding-left: 1rem;
}
.nav-link {
    color: var(--color-secondary);
}
.nav-link:hover {
    text-decoration: none;
    color: var(--color-dark);
}
.brand {
    white-space: nowrap;
}
.active {
    color: var(--color-dark);
}

@media (max-width: 768px) {
    .navbar-example {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-example .nav {
        flex-direction: column;
    }
    .nav-item:first-child {
        padding-left: 0rem;
    }
}



