body {
    background-color: #2F28B0;
}

section {
    background-color: rgb(255, 255, 255);
    max-width: 1200px;
    padding: 3%;
    display: flex;
    justify-content: center;
}

header {
    background-color: #FC8946;
    max-width: 220px;
    display: flex;
    justify-content: center;
}

